
            <br>
            <h1 class="text-center">Welcome!</h1>
            <br>
            <br>

        <div class="container d-flex justify-content-around">
            <partial name="RegPartial"/>
            <partial name="LoginPartial"/>
            
        </div>
